ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
network={
 ssid="network_name_0"
 scan_ssid=1
 proto=RSN
 key_mgmt=WPA-PSK
 pairwise=CCMP
 group=CCMP
# choose one of the following 
  psk="password_here"

}

network={
 ssid="network_name_1"
 scan_ssid=1
 proto=WPA RSN
 key_mgmt=WPA-PSK
 pairwise=CCMP TKIP
 group=CCMP TKIP
 psk=hash_key
}

network={
 ssid="network_name_2"
 proto=RSN
 key_mgmt=NONE
}


