# This is the main configuration file for DaisyPi
# Format used fo this config file : CAPS_VAR_NAME value1 value 2 .. valueN, all the values are separated by space

# TEMP_DIR variable will point to temporary folder mount ( ramdrive ) in order to host all the periodic write/read operations
TEMP_DIR /daisypi/tmp

# HOSTNAME identifies DaisyPi within local network and fellow Daisies and is unique within user's garden
HOSTNAME daisypi_02

#ANALOG_1 variable keeps the name of the sensor in slot A0 ( max 5V )
ANALOG_1 alcohol_sensor

#ANALOG_2 variable keeps the name of the sensor in slot A1 ( max 5V )
ANALOG_2 carbon_monoxide_sensor

#ANALOG_3 variable keeps the name of the sensor in slot A2 ( max 5V )
ANALOG_3 none

#ANALOG_4 variable keeps the name of the sensor in slot A3 ( max 3.3 V )
ANALOG_4 none

#ANALOG_5 variable keeps the name of the sensor in slot A4 ( max 3.3 V )
ANALOG_5 none

#ANALOG_6 variable keeps the name of the sensor in slot A5 ( max 3.3 V )
ANALOG_6 none

#ANALOG_7 variable keeps the name of the sensor in slot A6 ( max 3.3 V )
ANALOG_7 none

